@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #292524;
}
::-webkit-scrollbar-thumb {
  background: #44403c;
  border-radius: 3px;
}